
<% if current_user&.admin? %>
  <div class='card card__link p-xs flex--fsc reveal__trigger filter-by-scope' data-open='participatory-text-scope'>
    <%= icon 'list', class: 'mr-s', role: 'img', 'aria-hidden': true %>
    <strong><%= t('decidim.components.proposals.participatory_texts.filter_by_scope') %></strong>
  </div>
  <div id='participatory-text-scope' class='reveal large' data-reveal>
    <div class='p-s'>
    <h4><%= t('decidim.components.proposals.participatory_texts.filter_by_scope') %></h4>
    <div class='text-muted'>
    <div class='mb-s'>
      <p>
        <%= link_to proposals_path do %>
          <u><%= t('decidim.components.proposals.participatory_texts.all_scopes') %></u>
          <br>
        <% end %>
      </p>
    </div>
      <% Decidim::Scope.all.each do |scope| %>
        <div class='mb-s'>
          <p>
            <%= link_to proposals_path(scope_id: scope.id) do %>
              <u><%= translated_attribute(scope.name) %></u>
              <br>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <button class='close-button' data-close aria-label='Close reveal' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<% end %>
